body {
    margin: 0;
    font-family: Helvetica, "Helvetica", Arial, sans-serif;
    font-size: 95%;
    max-height: 100%;
}
span.clear {
    clear: both;
    display: block;
}
.wrapper {
    padding: 0 2%;
    max-width: 50em;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1em;
}
header h1 {
    display: inline-block;
    font-size: 200%;
    font-weight: inherit;
    padding: .6em 0 .6em;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
header img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}
header h2 {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    color: #666;
    font-size: 1.2em;
}

a {
    color: #368;
    text-decoration: none;
}	a:hover {
        text-decoration: underline;
    }
pre {
    background: #eee;
    overflow: auto;
    padding: 5px 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Courier New, monospace;
}	pre span {
        color: #b44;
    }

h3 {
    font-size: 160%;
}
h4 {
    font-size: 130%;
}
h3, h4 {
    margin-bottom: .3em;
}
ul {
    margin-top: .2em;
}
footer {
    padding: 0.6em 2em 2em;
    margin: 1.8em -2em 0;
    border-top: 1px solid #ccc;
    color: #666;
    font-size: 85%;
    line-height: 1.4em;
}	footer a {
        color: #467;
    }

input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    display: block;
    clear: both;
    padding: .2em .4em;
    margin: 0 0 .4em;
    border: 1px solid #e0e0e0;
    background: #fafafa;
    cursor: pointer;
    transition: background .1s ease;
}
input[type="radio"]:checked + label {
    background: #eaeaea;
}

.hidden {
    display: none;
}
input[type="radio"]:checked +label+ .hidden {
    display: block;
}
